* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.flex-container {
    margin: 20px;
    display: flex;
}

.flex-container div {
    flex: 1;
    background-color: pink;
    border: 2px solid brown;
    height: 150px;
}
.flex-container .two {
    flex: 2;
}